version: "3.7"
services:
  iperf3-server:
    build: .
    image: iperf3
    cap_add:
      - NET_ADMIN
    networks:
      - iperf3-net
    environment:
      NETEM:
    command:
      - sh
      - -c
      - |
        iptables -A OUTPUT -o eth+ -j NFLOG
        iptables -A INPUT -i eth+ -j NFLOG
        tcpdump -i nflog -w /server.pcap & 
        tc qdisc add dev eth0 root netem ${NETEM}
        iperf3 -s -1 --logfile /dev/null
    volumes:
      - ./server.pcap:/server.pcap

  iperf3-client:
    image: iperf3
    depends_on:
      - iperf3-server
    networks:
      - iperf3-net
    command: 
      - sh
      - -c
      - |
        ping -c10 iperf3-server &&
        iperf3 -V -c iperf3-server -R --forceflush

networks:
  iperf3-net: